Repository femdevs/femdev-website, changes with the owners that .github/CODEOWNERS names for each.
All owners: @femdevs/code-review, @femdevs/dev, @femdevs/admin

.github/CODEOWNERS:

* @femdevs/code-review @femdevs/dev
/web/oss/ @femdevs/admin @femdevs/code-review @femdevs/dev
/web/auth/ @femdevs/admin @femdevs/code-review @femdevs/dev
/web/mail/ @femdevs/admin @femdevs/code-review @femdevs/dev
/web/admin/ @femdevs/admin @femdevs/code-review @femdevs/dev
/web/security/ @femdevs/admin @femdevs/code-review @femdevs/dev
/functions/database.js @femdevs/admin @femdevs/code-review @femdevs/dev
/functions/security.js @femdevs/admin @femdevs/code-review @femdevs/dev
**/meta/ @femdevs/admin @femdevs/code-review @femdevs/dev
CODEOWNERS @femdevs/admin @femdevs/code-review @femdevs/dev
CONTRIBUTING.md @femdevs/admin @femdevs/code-review @femdevs/dev
LICENSE @femdevs/admin @femdevs/code-review @femdevs/dev
README.md @femdevs/admin @femdevs/code-review @femdevs/dev
SECURITY.md @femdevs/admin @femdevs/code-review @femdevs/dev
.github/ @femdevs/admin @femdevs/code-review @femdevs/dev

fix redirects in forms
  index.js
  web/admin/routes/core.js
Owners: @femdevs/code-review, @femdevs/dev, @femdevs/admin

fix issues ig
  documentation/api-documentation.yml
  web/api/routes/dictionary.js
Owners: @femdevs/code-review, @femdevs/dev

Fix Docs
  documentation/api-documentation.yml
  web/api/routes/facts.js
Owners: @femdevs/code-review, @femdevs/dev

remove dictionary routes
  documentation/api-documentation.yml
  web/api/routes/dictionary.js
  web/api/routes/router.js
Owners: @femdevs/code-review, @femdevs/dev

remove dictionary for real
  web/api/routes/router.js
Owners: @femdevs/code-review, @femdevs/dev

Create FUNDING.yml
  .github/FUNDING.yml
Owners: @femdevs/admin, @femdevs/code-review, @femdevs/dev

Make many modification
  assets/scripts/CoG/README.md
  assets/scripts/CoG/converter.js
  assets/scripts/CoG/morsecode.js
  assets/scripts/CoG/randomGenerators.js
  assets/scripts/CoG/websiteGenerators.js
  assets/scripts/File-Specific/toolbox.js
  assets/scripts/File-Specific/website-gen.js
  assets/scripts/Other/testing.js
  functions/crypto.js
  index.js
  middleware/IP.js
  middleware/session.js
  web/pages/index.js
Owners: @femdevs/admin, @femdevs/code-review, @femdevs/dev

new subdomain
  package-lock.json
  package.json
  static/styles.css
  static/tailwind.css
  tailwind.config.js
  views/pages/mayuazael/index.pug
  web/pages/index.js
  web/pages/mayuazael/assets/css/.gitkeep
  web/pages/mayuazael/assets/fonts/.gitkeep
  web/pages/mayuazael/assets/imgs/.gitkeep
  web/pages/mayuazael/assets/imgs/background.jpg
  web/pages/mayuazael/assets/imgs/profile.jpg
  web/pages/mayuazael/assets/js/.gitkeep
  web/pages/mayuazael/index.js
  web/pages/mayuazael/routes/cdn.js
  web/pages/mayuazael/routes/core.js
  web/pages/mayuazael/routes/router.js
Owners: @femdevs/code-review, @femdevs/dev

fix console.log
  index.js
Owners: @femdevs/code-review, @femdevs/dev

i hate eslint and its no console stuff
  index.js
  web/pages/index.js
Owners: @femdevs/code-review, @femdevs/dev

fix error
  index.js
Owners: @femdevs/code-review, @femdevs/dev

fix 500
  views/pages/mayuazael/index.pug
Owners: @femdevs/code-review, @femdevs/dev

update css and stuff
  static/styles.css
  views/pages/mayuazael/index.pug
Owners: @femdevs/code-review, @femdevs/dev

fix icons
  views/pages/mayuazael/index.pug
Owners: @femdevs/code-review, @femdevs/dev

center image
  views/pages/mayuazael/index.pug
Owners: @femdevs/code-review, @femdevs/dev

center the god forsaken image
  static/styles.css
  views/pages/mayuazael/index.pug
Owners: @femdevs/code-review, @femdevs/dev

:3
  static/styles.css
  views/pages/mayuazael/index.pug
Owners: @femdevs/code-review, @femdevs/dev

make the changes to spacing
  static/styles.css
  views/pages/mayuazael/index.pug
Owners: @femdevs/code-review, @femdevs/dev

fix css one last time
  static/styles.css
  views/pages/mayuazael/index.pug
Owners: @femdevs/code-review, @femdevs/dev

Create snyk-security.yml
  .github/workflows/snyk-security.yml
Owners: @femdevs/admin, @femdevs/code-review, @femdevs/dev

prepare formatters
  modules/api/crypto.js
  modules/api/facts.js
  modules/api/location.js
  modules/api/phone.js
  modules/api/quote.js
  modules/api/token.js
  modules/api/user.js
  modules/api/weather.js
  modules/api/whois.js
  package-lock.json
  package.json
Owners: @femdevs/code-review, @femdevs/dev

prepare support for XML and YAML
  documentation/api-documentation.yml
  modules/api/crypto.js
  modules/api/facts.js
  modules/api/location.js
  modules/api/phone.js
  modules/api/quote.js
  modules/api/token.js
  modules/api/user.js
  modules/api/weather.js
  modules/api/whois.js
  package-lock.json
  package.json
  web/api/routes/location.js
  web/api/routes/phone.js
  web/api/routes/quotes.js
  web/api/routes/router.js
  web/api/routes/token.js
  web/api/routes/user.js
  web/api/routes/weather.js
Owners: @femdevs/code-review, @femdevs/dev

organize XML
  modules/api/base.js
  modules/api/location.js
  modules/api/phone.js
  modules/api/quote.js
  modules/api/whois.js
  web/api/index.js
  web/api/routes/phone.js
  web/api/routes/router.js
  web/router.js
Owners: @femdevs/code-review, @femdevs/dev

fix systems to correct for lookups
  modules/api/base.js
  web/api/routes/location.js
Owners: @femdevs/code-review, @femdevs/dev

remove unused schemas
  documentation/api-documentation.yml
Owners: @femdevs/code-review, @femdevs/dev

finalize XML
  modules/api/base.js
Owners: @femdevs/code-review, @femdevs/dev

bump to 4.3.0
  documentation/api-documentation.yml
  package.json
Owners: @femdevs/code-review, @femdevs/dev

fix spelling errors
  documentation/api-documentation.yml
Owners: @femdevs/code-review, @femdevs/dev

fix: upgrade eslint-plugin-jsdoc from 48.2.6 to 48.5.0
  package-lock.json
  package.json
Owners: @femdevs/code-review, @femdevs/dev

fix: upgrade pg from 8.11.5 to 8.12.0
  package-lock.json
  package.json
Owners: @femdevs/code-review, @femdevs/dev

fix: upgrade bwip-js from 4.3.2 to 4.4.0
  package-lock.json
  package.json
Owners: @femdevs/code-review, @femdevs/dev

fix: upgrade firebase-admin from 12.1.1 to 12.2.0
  package-lock.json
  package.json
Owners: @femdevs/code-review, @femdevs/dev

fix: upgrade uglify-js from 3.17.4 to 3.18.0
  package-lock.json
  package.json
Owners: @femdevs/code-review, @femdevs/dev

fix: upgrade firebase from 10.12.2 to 10.12.3
  package-lock.json
  package.json
Owners: @femdevs/code-review, @femdevs/dev

fix: upgrade bwip-js from 4.4.0 to 4.5.0
  package-lock.json
  package.json
Owners: @femdevs/code-review, @femdevs/dev

fix: upgrade nodemailer from 6.9.13 to 6.9.14
  package-lock.json
  package.json
Owners: @femdevs/code-review, @femdevs/dev

fix: upgrade postcss from 8.4.38 to 8.4.39
  package-lock.json
  package.json
Owners: @femdevs/code-review, @femdevs/dev

fix: upgrade tailwindcss from 3.4.3 to 3.4.4
  package-lock.json
  package.json
Owners: @femdevs/code-review, @femdevs/dev

prepare legal documents
  assets/documents/legal/terms/file1.txt
Owners: @femdevs/code-review, @femdevs/dev

reorganize cdn and stage terms documents
  assets/documents/legal/terms/686bbb78-eabf-400c-b76c-deb77cc4b508.txt
  assets/documents/legal/terms/file1.txt
  web/cdn/routes/cdn/discord.js
  web/cdn/routes/cdn/license.js
  web/cdn/routes/cdn/router.js
  web/cdn/routes/router.js
Owners: @femdevs/code-review, @femdevs/dev
